{
    "titleId": "PSVH00001",
    "applicationCategoryType": 65536,
    "deeplinkUri": "http://127.0.0.1:18182/app/index.html",
    "localizedParameters": {
        "defaultLanguage": "en-US",
        "en-US": {
            "titleName": "PSVietHoa AutoLoader v[[VERSION_PLACEHOLDER]]"
        }
    }
}
